[Unit]
Description=Start CA Server API Service
After=network.target

[Service]
WorkingDirectory=/etc/caserverapi
ExecStart=/usr/local/bin/caserverapi


[Install]
WantedBy=multi-user.target
